baam-loan-master,
.loan-bottom-sheet-dialog-content {
  .loan-description {
    @apply flex-1 items-start rounded-lg p-4 lg:flex #{!important};
  }

  dl {
    @apply my-4 grid w-full grid-cols-5 #{!important};

    dt {
      @apply col-span-2 flex items-center justify-start;
      min-height: 36px;
    }

    dd {
      @apply col-span-3 flex items-center justify-end gap-1 whitespace-nowrap text-end;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .loan-card {
    @apply border-foreground/10 flex flex-col border border-solid p-0 shadow-none #{!important};
  }

  .card-button {
    @apply border-foreground/10 mx-0 w-full border-b-0 px-0 #{!important};

    &:first-child {
      @apply rounded-l-none rounded-t-none border-x-0 #{!important};
    }

    &:last-child {
      @apply rounded-r-none rounded-t-none border-l-0 #{!important};
    }
  }

  baam-loan-receipt,
  baam-general-loan-auto-pay {
    .confirmation-description-list-item {
      @apply flex items-center justify-between py-3;

      dt {
        @apply text-foreground/70 font-medium;
      }

      dd {
        @apply flex min-h-[2.25rem] items-center gap-x-2 font-medium;
      }
    }
  }

  .loan-history-table {
    tr.transaction-detail-row {
      height: 0;
    }

    tr.transaction-row:hover {
      @apply bg-[inherit] #{!important};
    }

    tr.transaction-row:not(.transaction-expanded-row):hover {
      @apply bg-foreground/5 #{!important};
    }

    tr.transaction-detail-row {
      @apply bg-foreground bg-opacity-[0.01] #{!important};
    }

    .transaction-row td {
      border-bottom-width: 0;
    }
  }

  .loan-history-key-value-grid {
    @apply my-0 grid sm:grid-cols-2 sm:gap-y-4 #{!important};

    > div {
      @apply flex items-center;

      dt {
        @apply text-foreground/60 w-[35%];
      }

      dd {
        @apply text-foreground/90 font-medium;
      }
    }
  }

  .loan-history-key-value-mobile {
    @apply h-full py-3 #{!important};
    span:first-child {
      @apply text-foreground/60;
    }

    span:last-child {
      @apply text-foreground/90 font-medium;
    }
  }

  &.loan-key-value-grid {
    dd {
      @apply text-foreground/90 font-medium;
    }
  }
}

mat-bottom-sheet-container:has(baam-general-loan-payment-confirmation-dialog) {
  height: auto !important;
}
